<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            {{#if doc}}
                <a class="nav-link active" aria-current="true" href="/admin/dashboard"><i class="fas fa-user-md"></i> Doctores</a>
            {{else}}
                <a class="nav-link" aria-current="true" href="/admin/dashboard"><i class="fas fa-user-md"></i> Doctores</a>
            {{/if}}
        </li>
        <li class="nav-item">
            {{#if pac}}
                <a class="nav-link active" href="/admin/dashboard/pacientes"><i class="fas fa-user"></i> Pacientes</a>
            {{else}}
                <a class="nav-link" href="/admin/dashboard/pacientes"><i class="fas fa-user"></i> Pacientes</a>
            {{/if}}
        </li>
        <li class="nav-item">
            {{#if hab}}
                <a class="nav-link active" href="/admin/dashboard/habitaciones"><i class="fas fa-hospital"></i> Habitaciones</a>
            {{else}}
                <a class="nav-link" href="/admin/dashboard/habitaciones"><i class="fas fa-hospital"></i> Habitaciones</a>
            {{/if}}
        </li>
        <li class="nav-item">
            {{#if cit}}
                <a class="nav-link active" href="/admin/dashboard/citas"><i class="far fa-calendar-check"></i> Citas</a>
            {{else}}
                <a class="nav-link" href="/admin/dashboard/citas"><i class="far fa-calendar-check"></i> Citas</a>
            {{/if}}
        </li>
        <li class="nav-item">
            {{#if rec}}
                <a class="nav-link active" href="/admin/dashboard/recetas"><i class="fas fa-pencil-alt"></i> Recetas</a>
            {{else}}
                <a class="nav-link" href="/admin/dashboard/recetas"><i class="fas fa-pencil-alt"></i> Recetas</a>
            {{/if}}
        </li>
    </ul>
</div>